@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.main{
    width: 336px;
    min-height: 236px;
    border: 1.5px solid #c4c4c4;
    border-radius: 10px;
}

h2{

    text-align: center;
    font-weight: bold;
    margin-top: 20px;


}
.empty{
    background-color: #FFDC40;
    width: 335px;
    height: 28px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.text{
    width: 286px;
    height: 40px;
    border-radius: 10px;
    margin-top: 36px;
    margin-left: 23px;
    border: 1px solid #c4c4c4;

}
.circle{
    width: 20px;
    height: 20px;
    position: absolute;
    color: #c4c4c4;
    margin-top: 46px;
    right: 52px;
    cursor: pointer;
}
.main2{
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: break-word;
}
.sort{
    width: 25px;
    height: 15px;
    color: #c4c4c4;
    position: absolute;
    right: 35px;
    margin-top: 10px;
    cursor: pointer;
}
.second{
    width: 150px;
    height: 42px;
    border-radius: 71px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 86px;
    margin-top: 23px;
    gap: 8px;
    border: none;
    background-color: blueviolet;
    /* padding-bottom: 19px; */
    
}
.plus{
    background-color: #9953F1;
    border-radius: 80px;
    width: 42px;
    height: 40px;
    padding-top: 14px;
    margin-right: 12px;
    color: white;
    cursor: pointer;
}
.add{
    padding-right: 35px;
    color: white;
    cursor: pointer;
}
.sort-div{
    position: relative;
    
}